.input-box .button {
  background-color: rgb(255,0,0);
  border: none;
  color: white;
  padding: 20px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 10px;
  cursor: pointer;
}

.box{

  position: absolute;
  top: 50%;
  left: 50%;
  border:2px solid red;
  transform: translate(-50%,-50%);
  width: 400px;
  padding: 40px;
  background:white;
  box-sizing: border-box;
  box-shadow: 0 15px 25px  rgba(0,0,0,0.5);
  border-radius: 15px;

}

.box h1{
  color: rgb(33, 78, 6);
  text-align: center;

}



.box .input-box{
  position: relative;
}

body {
  background-image:url(nature.jpg);
  background-size: cover;
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;

}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border-radius: 3px;
}

input[type=text],input[type=number] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #4169E1;
  border-radius: 3px;
}

textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #4169E1;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color:rgb(60, 80, 51);
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: rgb(60, 80, 51);
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

#content{
  width: 50%;
  margin: 20px auto;
  border:1px solid #cbcbcb;
}

form{
  width: 50%;
  margin: 20px auto;
}
form div{
  margin-top: 5px;
}
